* {
  margin: 0;
  padding: 0;
}

nav {
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nom-site {
  margin-left: 100px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 50%;
  height: 100%;
  margin-right: 85px;
}

.nav-links li a {
  display: inline-block;
  padding: 16px 0px 8px 0px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: black;
  position: relative;
}

/*hover link effect*/
.nav-links a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  position: absolute;
}

.nav-links a:hover::after {
  width: 100%;
  left: 0;
}

/*active link effect*/
.nav-links a:active {
  font-weight: 600;
}

.nav-links a:active::after {
  height: 2px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.sticky + .content {
  padding-top: 60px;
}

/*Media queries*/
@media screen and (max-width: 900px) {
  .nav-links {
    width: 65%;
    margin-right: 50px;
  }

  .nom-site {
    margin-left: 50px;
  }
}

@media screen and (max-width: 690px) {
  nav {
    flex-direction: column;
    align-items: stretch;
  }

  .burger-title {
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }

  .menu-ham {
    width: 30px;
    height: 22px;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-right: 50px;
    z-index: 3;
  }

  .nom-site {
    margin: 50px;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }

  .line:nth-child(1) {
    top: 0px;
  }
  .line:nth-child(2) {
    top: 10px;
  }
  .line:nth-child(3) {
    top: 20px;
  }

  /* Animation burger-menu */
  .menu-ham.active .line:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
  }

  .menu-ham.active .line:nth-child(2) {
    transform: translateX(-20px);
    opacity: 0;
  }

  .menu-ham.active .line:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
  }

  .nav-links {
    background-color: white;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -15%);
    -webkit-clip-path: circle(100px at 90% -15%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 2;
    position: absolute;
  }

  .nav-links.open {
    height: 100vh;
    clip-path: circle(2000px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li a {
    font-size: 14px;
    margin: 0;
  }

  /* Gradual effect link */
  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.3s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.5s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.7s;
  }

  li.fade {
    opacity: 1;
  }

  /* Disable scrolling in the background when burger menu is open */
  .lock-scroll {
    overflow: hidden;
  }
}

/* index-parralax */

/* body */
body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  font-family: Helvetica, Arial, sans-serif;
}

/* image-index */

.img-welcome {
  background-image: url("https://cdn.pixabay.com/photo/2014/08/08/21/02/iceland-413702_1280.jpg");
  min-height: 400px;
}

.img-state-1 {
  background-image: url("https://cdn.pixabay.com/photo/2017/03/02/16/54/iceland-2111811_1280.jpg");
  min-height: 400px;
}

.img-state-2 {
  background-image: url("https://cdn.pixabay.com/photo/2018/01/14/23/14/forest-3082836_1280.jpg");
  min-height: 400px;
}

.img-state-3 {
  background-image: url("https://cdn.pixabay.com/photo/2016/10/10/22/31/desert-1730077_1280.jpg");
  min-height: 400px;
}

.img-transport {
  background-image: url("https://cdn.pixabay.com/photo/2018/05/19/09/20/emotions-3413040_1280.jpg");
  min-height: 400px;
}

/*titre region*/
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 45px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: white;
  opacity: 0.5;
}

.border a {
  text-decoration: none;
  color: white;
}

.img-state-1,
.img-state-2,
.img-state-3,
.img-transport {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 15px 100px;
  background-attachment: fixed;
}

.img-welcome {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  background-attachment: fixed;
}

.welcome {
  display: inline-block;
}

/*parallax responsive*/

@media screen and (max-width: 800px) {
  .img-state-1,
  .img-state-2,
  .img-state-3,
  .img-transport {
    margin: 15px 30px;
    /*background-attachment: scroll; */
  }
  .txt-north,
  .txt-center,
  .txt-south,
  .txt-trans {
    font-size: 10px;
    text-align: center;
  }

  .region-click {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 618px) {
  .img-state-1,
  .img-state-2,
  .img-state-3,
  .img-transport {
    margin: 15px 0px;
  }
  .txt-north,
  .txt-center,
  .txt-south,
  .txt-trans {
    font-size: 10px;
    text-align: center;
  }

  .region-click {
    font-size: 15px;
    text-align: center;
  }
  .welcome .welcome-txt {
    margin: 5px;
    font-size: 15px;
  }
}

@media screen and (max-width: 360px) {
  .img-state-1,
  .img-state-2,
  .img-state-3,
  .img-transport {
    margin: 15px 0px;
    /*background-attachment: scroll;*/
  }
  .ptext {
    font-size: 40px;
    text-align: center;
  }

  .region-click {
    font-size: 15px;
    text-align: center;
  }

  .welcome .welcome-txt {
    margin: 0;
    font-size: 15px;
  }

  .img-transport {
    margin-bottom: 80px;
  }
  .img-welcome .titre-principal {
    font-size: 20px;
  }
}

/* texte section */

.titre-principal {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 45px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.welcome-txt {
  margin: 25px 100px;
  font-size: 25px;
}

.welcome {
  text-align: center;
  background-color: white;
  color: black;
}

section {
  background-color: #413131;
  color: white;
  text-align: center;
}

.txt-north,
.txt-center,
.txt-south,
.txt-trans {
  margin: 0px;
  color: white;
  padding: 50px;
  font-size: 20px;
}

/*footer*/

footer {
  display: flex;
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: black;
}

.bloc-service-1 {
  align-items: center;
  margin: 20px 10px 10px 10px;
  justify-content: center;
}

.bloc-service-2 {
  align-items: flex-start;
  margin-top: 20px;
  margin-right: 20px;
}
.bloc-service-3 {
  align-items: center;
  margin-top: 20px;
  margin-right: 30px;
}

.reseau li {
  display: inline-block;
  align-items: center;
}

.fallow {
  margin-top: 5px;
}

.new-letter .reseau,
h2,
.new-letter-txt,
input,
label {
  text-align: center;
  align-items: center;
}

li {
  list-style: none;
  margin: 1px 6px 8px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.a-propos {
  display: inline-block;
  font-size: 10px;
}

.contact-us {
  margin-top: 40px;
}

h2 {
  margin-top: 20px;
  font-size: 12px;
}

label {
  font-size: 10px;
}

.bloc-service-1 a {
  display: inline-block;
  align-items: center;
  text-align: center;
  margin: 30px 20px 20px 60px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 40px;
  padding: 10px;
}

.bloc-service-1 a:hover {
  color: white;
  background-color: black;
}

.new-letter-txt {
  font-size: 13px;
}

input {
  width: 180px;
}

/*footer responsive*/

@media screen and (max-width: 800px) {
  .welcome .welcome-txt {
    margin: 50px;
    font-size: 15px;
  }
  footer .bloc-service {
    margin: 0px 0px 0px 0px;
    border: 1px solid white;
  }
}

@media screen and (max-width: 618px) {
  footer {
    flex-direction: column;
    display: flex;
  }
  footer .bloc-service {
    margin: 0px 0px 0px 0px;
    border: 1px solid white;
  }
}

@media screen and (max-width: 414px) {
  footer {
    display: flex;
  }

  footer .bloc-service-1,
  .bloc-service-2,
  .bloc-service-3 {
    margin: 0px 0px 0px 0px;
    border: 1px solid white;
    align-items: center;
  }

  .bloc-service-1 {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 10px;
    height: 100px;
  }

  .bloc-service-1 .contact {
    margin: 0;
    align-items: center;
    text-align: center;
  }

  .bloc-service-2 {
    text-align: center;
  }

  .bloc-service-2 li a {
    font-size: 9px;
  }

  .bloc-service-2 li {
    margin: 1px;
  }

  .bloc-service-3 .new-letter {
    text-align: center;
  }
}
