
https://media.giphy.com/media/Nh0DgQBi47Ppu/giphy.gif     //girl riding crocodile
https://media.giphy.com/media/l46Cqj7OWnH7zoUCs/giphy.gif    // flying dragon
https://media.giphy.com/media/13j7rnoKJUWt8c/giphy.gif   // camel dropiing tourist
https://media.giphy.com/media/l16c21r0ZiJLqTR76L/giphy.gif   // camel hitting
