/*conteneur1*/
#slider {
   margin: 0 auto;
   width: 800px;
   max-width: 100%;
   text-align: center;
   padding-top: 100px;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
   background: #00171F;
}
#slides .slide_2 {
   background: #003459;
}
#slides .slide_3 {
   background: #007EA7;
}
#slides .slide_4 {
   background: #ffffff;
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}
.imgcentral .textcentral {
   background: rgba(0, 0, 0, 0.7);
   z-index: 1;
   position: absolute;
   text-align: center;
   margin: 0 auto;
   left: 0;
   right: 0;
   top: 30%;
   color: white;
   width: 50%;
 }


.descrititre {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
.dragonimg {
   width: 700px;
   padding-bottom: 50px;
}
.crocoimg{
   width: 772px;
  
}
.pinguinimg {
   width: 772px;
}
.logo{
   width: 400px;
}

.rating a {
   
   text-decoration: none;
   font-size: 3em;
   color: green;
}
.titreP {
   display: flex;
   text-align: center;
}

<<<<<<< HEAD

.conteneretoile {
   display: flex;
   align-content: space-around;
   
   width: 100%;

   
 
  
}
.contenerlicorne {
   border-style: solid;
   background-color: grey;
   margin-left: 2%;
   margin-right: 2%;
   
   

}
.contenercrocodile{
   border-style: solid;
   background-color: grey;
   
}

.contenerdragon {
   border-style: solid;
   background-color: grey;
}
.dondy {
   font-size: 40px;
   
   width: 400px;

}
.lenky {
   font-size: 40px;
   
   width: 400px;
   
}
.smoky {
   font-size: 40px;
   
   width: 400px;
}
=======
>>>>>>> 9914cfb0b36e31c691189ba0d981779eac05a84a
/*fin de conteneur1*/
/*debut conteneur 2 */


   
.prenom {
   text-align: center;
}

.img  {
min-width: 600px;
height : 400px;
}

.licorne {
   display: flex; 
   align-items: center;  
   flex-direction: row-reverse;
 }

.blocContainer {
   margin-left: 3%;
   margin-right: 3%;
   } 

.licorne, .crocodile, .dragon  {
   margin: 30px;
      display : flex;
      align-items : center;
      max-width : 100%;
      margin : 40px -10px 70px -10px;
    }
.imgcrocodile, .imgLicorne, .imgDragon {
      min-width: 650px;
      height: 400px;
  
    }
    .text10 {
      min-width: 650px;
      margin-left: 18px;
      text-align: left;
      line-height: 1.8em;
    }

.text-descriptionC, .text-descriptionL, .text-descriptionD {
   display: block;
   align-items: stretch;
}


@media (max-width: 1100px){
   .blocContainer2 {
     display: flex;
     columns: 2;
     flex-direction: column;
   }
 }

.avantages {
   line-height: 2em;
   text-align: center;
   
   font-weight: bold;
}